.logo {
  border-radius: 25px;
  width: 100px;
  padding-top: 4px;
  margin-left: 4px;
}
.header {
  border-radius: 25px;
  border: 1px Solid Black;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  background-color: darkslategray;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > a > li {
  padding: 20px;
  color: white;
}

.card {
  border-radius: 25px;
  border: 1px Solid Black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
.card-img {
  width: 100%;
}
.search-container > input{
  border-radius: 25px;
  margin: 10px;
  width: 200px;
  height: 30px;
}
.search-button{
  width: 90px;
  height: 30px;
}
.shimmer-card{
  width: 200px;
  height: 200px;
  background: darkgray;
  margin: 20px;
  display: inline-block;
  border-radius: 25px;
}
.menu{
  display: flex;
}
.section {
  border-radius: 25px;
  background: darkgray;
  padding: 10px;
  margin: 10px;
}
.tittle{
  font-weight: bold;
  font-size: 24px;
}
.footer{
  background: rgb(225, 211, 211);
  margin: 10px;
  margin-top: -2px;
}
.footer-tittle{
  margin-top: 100px;
}
.footer-sections{
  background: rgb(147, 72, 72);
}
.btn{
  cursor: pointer;
}